<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>{{ page.title }} - {{ site.name }}</title>
    <meta name="author" content="NeilZhang" />
    <link href="http://{{ site.host }}/atom.xml" rel="alternate" title="Subscribe to RSS Feed" type="application/atom+xml" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="/css/bootstrap-responsive.min.css" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="/css/docs.css" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="/css/prettify.css" type="text/css" media="screen, projection" />
    
	<script src="/js/bootstrap.js"></script>
    <script src="/js/jquery.js"></script>
    
  </head>
  <body>
  <div class="site">
		
    <div class="navbar navbar-inverse navbar-fixed-top">
	  <div class="navbar-inner">
	    <div class="container">
		   <div class="nav-collapse collapse">
				<ul class="nav">
				   <li class="active">
					<a href="#">首页</a>
				   </li>
				   <li><a href="#">Ofbiz</a></li>
				   <li><a href="#">Openerp</a></li>
				   <li><a href="#">web开发</a></li>
				</ul>
			</div>
		</div>
	   </div>
    </div>
	
      {{ content }}
	  
    <footer class="footer">
		<div class="container">
			<p class="pull-right">
			<a href="#">Back to top</a>
			</p>
		<div class="row">
			<div class="span4">
			  <p>
			  NeilZhang<br />
			  puresteel.zhang@gmail.com
			  </p>
			</div>
			<div class="span4">
			  <p>
			  <a href="http://github.com/puresteelzhang">github.com/puresteelzhang</a><br />
			  </p>
			</div>
			<div class="span4">
			  <a class="pull-right" href="http://{{ site.host }}/atom.xml">订阅全站</a>
			</div>
			</div>
		</div>
	</footer>
      
  </div>
    
  </body>
</html>
